:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*Taille des images des produits*/
.product-image {
  max-width: 400px;
  width: 400px;
}


.rating span {
  color: #ffc000;
}